
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* position:relative; */
}

/*---------------- css carrito ---------------- */
body{
    background-color:var(--lightgrey);
    display:flex;
    flex-direction: column;
    align-items: center;
}
div.cart.container{
    background-color:white;
    width:90%;
    /* height:100vh; */
    display:flex;
    flex-direction:column;
    align-items: center;
}
h2{
    font-size:clamp(20px,3vw,32px);
    text-transform: uppercase;
    color:var(--darkgrey);
    margin:24px 0px;
}
.cart.card{
    display:flex;
}
.cart.card.background{
    background-color:var(--lightgrey);
    display:flex;
    width:90%;
    justify-content: flex-start;
    align-items: center;
    padding:16px;
    border-radius:4px;
    margin-bottom:16px;
    
    
}
div.cart.card.img-prod{
    display:inherit;
    width:clamp(25%,200px,35%);
}
div.cart.card.img-prod img{
    width:100%;
}
div.cart.card.data-prod{
    width:clamp(65%,500px,75%);
    /* height:3em; */
    flex-grow:1;
    flex-direction:column;
    justify-content:center;
}
div.cart.card.title-trash{
    width:100%;
    flex-direction:row;
    justify-content:space-between;
}
div.cart.card.title-price{
    width:75%;
    flex-direction:column;
    padding-left:16px;
    margin-bottom:24px;
}
.prod-title{
    display: inline-block;
    font-size: clamp(16px,3vw,24px);
    
}
.prod-price{
    display:inline-block;
    font-size:clamp(14px,2vw,20px);
    font-weight:400;
}
div.cart.card.trash{
    font-size:1.5rem;
    color:var(--color4);
    opacity:.85;
}
div.cart.card.quantity-subtotal{
    justify-content:flex-start;
    padding-left: 16px;
}
div.cart.card.quantity{
    /* width:80px; */
    align-items:center;
}
div.cart.card.quantity-subtotal button{
    background-color:var(--color2);
    color:white;
    border-radius:4px;
    border:none;
    padding:8px;
    display:flex;
    align-items: center;
}
div.cart.card.quantity-subtotal button i{
    font-size:1rem;
}
div.cart.card.quantity-subtotal form{
    width:2.5rem;
    margin:0px 8px;
}
div.cart.card.quantity-subtotal input{
    border:none;
    width:100%;
    height:2rem;
    text-align:center;
}
div.subtotal-prod{
    padding-left:16px;
    display:flex;
    align-items:center;
    font-size:clamp(16px,4vw,18px);
}
div.cart.subtotal{
    width:90%;
    display:flex;
    justify-content: space-between;
    font-size: clamp(18px,3vw,20px);
    text-transform: uppercase;
    font-weight:400;
}

div.cart.delivery-price{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:clamp(16px,3vw,24px);
    color:var(--color2);
    margin:24px 0px;
}
.tipo-de-envio{
    font-size:clamp(14px,3vw,20px);
    border:none;
    border-bottom: 1px solid grey;
    padding:4px;
}
hr.separador{
    margin:24px 0px;
    border:1px solid lightgrey;
    width:100%;
}
div.cart.total-price{
    width:90%;
    display:flex;
    justify-content:space-between;
    color:var(--darkgrey);
    font-size:clamp(20px,3vw,32px);
}

div.cart.button.background{
    width:100%;
    background-color:var(--darkgrey);
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 48px;
}
button.buy{
    height:64px;
    width:clamp(80px,90%,400px);
    border:none;
    padding:0px 80px;
    background-color:var(--color2);
    color:white;
    font-size:clamp(18px,4vw,24px);
    font-weight:400;

}

/* .elio-pez{
    position:fixed;
    width:80px;
    bottom:40px;
    right:40px;
    stroke: 2px solid #F0C630;
}

.elio-pez img{
    width:100%;
} */