@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('/css/style-cart.css');
@import url('/css/style-index.css');
@import url('/css/style-product.css');
@import url('/css/stylelogin.css');

* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Roboto';
}
:root{
    --color1:#F0C630;
    --color2:#0D5B61;
    --color3:#EDDDD4;
    --color4:#C43727;
    --color5:#631F40;
    --darkgrey:hsl(0,0,12);
    --lightgrey:#f2f2f2;
    
}
header{
    background: var(--color1);
    padding: 20px 0px;
    width:100%;
    display: flex;
    justify-content: center;
}

header div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size:clamp(24px,4vw,32px);
}

header div.header a img.logo{
    width: 100%;
    max-width: 125px;
}
header div.header div.carrito{
    display: flex;
}
header div.header div.carrito a{
    display: flex;
    text-decoration: none;
    color:  black;
}
header div.all{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
header div.nav{
    display: none;
}
header div.carrito a{
    margin-left: 10px;
}
header img{
    margin-right: -10px;
}
/* Resposive header.ejs */

@media(min-width: 450px){
    div.barras i{
        display: none;
    }
    div.all div.nav{
        margin-top: 20px;
        width: 100%;
        display: flex !important;
        flex-direction: row;
    }
    div.all div.nav nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    div.all div.nav nav a{
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

/* css footer */
footer{
    background: var(--color2);
    padding: 20px 0px;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer div.enlaces {
    width: fit-content;
}
footer div.enlaces nav {
    display: flex;
    margin-top: 20px;
    
}
footer div.enlaces nav a {
    margin: 10px;
}
footer div.seguinosredes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
footer div.seguinosredes div.redes {
    display: flex;}
    
footer .redes a {
    margin: 10px;
}
footer div.seguinosredes p {
    color: white;
}
