body{
    background-color:var(--lightgrey);
}
main.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.product div.imgProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
main.product div.imgProduct img.productImg{
    width: 90%;
}
main.product div.productInfo{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 10px;
}
main.product div.productInfo div.infobox{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: white;
}
main.product div.productInfo div.price-stars{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5px;
    font-size: 20px;
}
main.product div.productInfo div.price-stars h3{
    margin-right: 15px;
}
main.product div.productInfo div.price-stars h4{
    margin-left: 5px;
}
main.product div.productInfo div.infobox div.separador{
    margin:12px 0px;
    border:1px solid lightgrey;
    width:100%;
}
main.product div.productInfo div.infobox p{
    color: var(--darkgrey);
    text-align: justify;
}
main.product div.productInfo div.infobox h3.info{
    font-size: 16px;
    margin-top: 12px;
}
main.product div.buy{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 10px;

}
main.product div.buy div.buybox{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: white;
}
main.product div.buy div.buybox div.cant{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin:0px 0px 0px 13px;
}
main.product div.buy div.buybox div.cant div.input{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 25%;
}
main.product div.buy div.buybox div.cant div.input input{
    width: 100%;
    border:1px solid lightgrey;
    height: 26px;
}
main.product div.buy div.buybox div.cant div.input form{
    width: 20%;
}
main.product div.buy div.buybox div.cant div.input button i{
    font-size: 14px;
}
main.product div.buy div.buybox div.cant div.input button{
    border: none;
    padding: 5px 7px 5px 7px;
}
main.product div.buybttn div.buybttnBox{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
main.product div.buybttn div.buybttnBox button.Cart{
    width: 45%;
    font-size: 10px;
    padding: 10px 6px 10px 6px;
    background-color: var(--color2);
    border: none;
    color: white;
}
main.product div.buybttn div.buybttnBox button.buyNow{  
    width: 45%;
    font-size: 10px;
    padding: 10px 6px 10px 6px;
    background-color: var(--color2);
    border: none;
    color: white;
}

/* ESTILOS DE productCreate.ejs y productEdit.ejs */

main.create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.create div.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
    align-items: center;
    
    margin-bottom: 96px;
    /* min-height: 100vh; */
}
div.srm{
    display:flex;
    align-items: center;
}

main.create div.container h2.title{
    margin: 24px;
}
main.create div.container div.separador{
    margin-bottom: 24px;
    border:1px solid lightgrey;
    width:100%;
}
main.create div.container div.formCreate{
    width: 90%;
    max-width:500px;
}
main.create div.container div.formCreate form{
    display: flex;
    flex-direction: column;
}
main.create div.container div.formCreate form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 18px;
}
main.create div.container div.formCreate form button{
    margin-bottom: 12px
}
main.create div.container div.formCreate form div.image{
    display: flex;
    flex-direction: column;
}
main.create div.container div.formCreate form div.desc{
    display: flex;
    flex-direction: column;
}
main.create div.container div.formCreate form div.pdesc label{
    margin-bottom: 8px;
}
main.create div.container div.formCreate form div.image label{
    margin-bottom: 8px;
}
main.create div.container div.formCreate form div.abv input{
    width: 20%;
}
main.create div.container div.formCreate form div.ibu input{
    width: 20%;
}
main.create div.container div.formCreate form div.price input{
    width: 20%;
}
main.create div.container div.formCreate form button{
    width: 80%;
    margin-top: 4px;
    font-size: 20px;
    padding: 10px 6px 10px 6px;
    background-color: var(--color2);
    border: none;
    color: white;
    align-self: center;
}
main.create div.data-srm{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main.create div.data-srm h5{
    font-weight: 400;
    font-size: 16px;
    margin-right: 8px;
}
main.create div.color-srm{
    margin-left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 48px;
    border: 2px solid var(--lightgrey);
    background-color: #de7c00;
}
    
/* MEDIA QUERIES productDetail.ejs */
@media only screen and (min-width: 768px){
   
}

@media only screen and (min-width: 1024px){
    div.all{
        display: flex;
        flex-direction: row;
        margin: 20px;
    }
    div.infobuy{
        display: flex;
        flex-direction: column;
    }
    div.productInfo{
        height: 100%;
        align-self: auto;
    }
}

@media only screen and (min-width: 1680px){
    div.all{
        display: flex;
        flex-direction: row;
        margin: 20px;
    }
    div.infobuy{
        display: flex;
        flex-direction: column;
    }
    div.productInfo{
        height: 100%;
        align-self: auto;
    }
}


/*---------- Estilos lista de productos ----------*/

main.product-list{
    display: flex;
    flex-direction: row;
    position:relative;
    width: 90%;
    max-width: 1280px;
    color: var(--darkgrey);

}
.filter.toggle{
    Display:none;
}
aside {
    display: flex;
    padding: 24px;
    flex-direction: column;    
    min-height: 100vh;
    border-right: 1px solid var(--lightgrey);
    align-self: flex-start;
}

.filter.form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.order{
    margin-top: 16px;
    margin-bottom: 16px;
}
.range{
    margin-top: 16px;
    margin-bottom:16px;
}


.range.price{
    display:flex;
}
.range.price input{
    max-width:96px;
    margin-right:8px;
}

div.category{
    margin-bottom:24px;
}

.category-list{
    display: flex;
    flex-direction: column;
}
.category-item{
    list-style: none;
    margin-top: 8px;
    margin-left: 0px;
}

.maker-list{
    display: flex;
    flex-direction: column;
    
}
.maker-item{
    list-style: none;
    margin-top: 8px;
    margin-left: 0px;
    color: var(--darkgrey);
}
.title-list{
    display:flex;
    flex-direction: column;
}
.title-products{
    
    min-height: 90px;
    margin: 16px;
    display:flex;
    justify-content: space-between;
   
}
.title-products *{
    display:inline-block;
}

.list.container{
    margin: 16px;
    display: flex;
    flex-grow:3;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list.card{
    
    max-width: 280px;
    background: white;
    border-radius: 8px;
    box-shadow: 4px 4px 16px var(--lightgrey);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 16px;
}
.card.title{
    margin: 16px;
    color: var(--darkgrey);
}
.card.title a{
    text-decoration: none;
    color: var(--color2);
}
.card.title a:hover{
    color: var(--color1);
}

.card.title h5 a{
    text-decoration: none;
    color: var(--color1);
}
.card.title h5 a:hover{
    color: var(--color2);
}

.card.prod-img{
    width:100%;

}
#prod-img{
    width:100%;
}


div.card.rating{
    margin: 8px;
    height: 20px;
    display: flex;
    
    
}
div.card.rating img{
    width:16px;
}

.meter{
    margin: 8px;
}
.meter .text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.meter .text h4{
    font-weight: 400;
}
.bar{
    height: 8px;
    background-color: var(--lightgrey);
    border-radius: 16px;
}
#bar-level-alcohol{
    height:100%;
    width: 52%;
    background-color: var(--color1);
    border-radius: 16px;
}

#bar-level-bitternes{
    height:100%;
    width: 37%;
    background-color: var(--color2);
    border-radius: 16px;
    
}
.meter.srm{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:16px;
}
.meter.srm h4{
    font-weight: 400;
}

.srm-circle{
    background-color: #e78500;
    border: 1px solid var(--lightgrey);
    width: 32px;
    height: 32px;
    border-radius:80px;
    
}
section.edit-delete-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section.edit-delete-buttons a.edit{
    display: flex;
    width: 35%;
    background-color: rgb(104, 170, 4);
    text-decoration: none;
    color: white;
    justify-content: center;
    padding: 4px 0px 4px 0px;
}
section.edit-delete-buttons button.delete{
    display: flex;
    justify-content: center;
    background-color: rgb(167, 23, 23);
    border: 0px;
    padding: 6px 14px 6px 14px;
    cursor: pointer;
    color: white;
}
section.edit-delete-buttons button.delete h3.deletetxt{
    width: 100%;
}
.edit-image{
    width: 30%;
}
.product-name-edit{
    background-color: var(--color1);
    padding: 10px;
}
@media only screen and (max-width: 768px){
 .list.container{
   position:relative;
 }
 .filter.toggle{
    /* Display:flex; */
    position:fixed;
    bottom: 10;
    left: 10;
 }
 aside{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: white; 
    display:none;
 }
}