@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
:root{
    --color1:#F0C630;
    --color2:#0D5B61;
    --color3:#EDDDD4;
    --color4:#C43727;
    --color5:#631F40;
    --darkgrey:hsl(0,0,12);
    --lightgrey:#f2f2f2;
}
 
* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Roboto';
}
header{
    background: var(--color1);
    padding: 20px 0px;
    width:100%;
    display: flex;
    justify-content: center;
}

header div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size:clamp(24px,4vw,32px);
}

header div.header a img.logo{
    width: 100%;
    max-width: 125px;
}
header div.header div.carrito{
    display: flex;
}
header div.header div.carrito a{
    display: flex;
    text-decoration: none;
    color:  black;
    
}

/* css footer */

body{
    background-color:var(--lightgrey);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div.imgProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
}
main div.imgProduct img.productImg{
    width: 90%;
}
main div.productInfo{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: white;
    padding-top: 10px;
}
main div.productInfo div.infobox{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: white;
}
main div.productInfo div.price-stars{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5px;
    font-size: 20px;
}
main div.productInfo div.price-stars h3{
    margin-right: 15px;
}
main div.productInfo div.price-stars h4{
    margin-left: 5px;
}
main div.productInfo div.infobox div.separador{
    margin:12px 0px;
    border:1px solid lightgrey;
    width:100%;
}
main div.productInfo div.infobox p{
    color: var(--darkgrey);
    text-align: justify;
}
main div.productInfo div.infobox h3.info{
    font-size: 16px;
    margin-top: 12px;
}
main div.buy{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: white;
    padding-top: 10px;

}
main div.buy div.buybox{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: white;
}
main div.buy div.buybox div.cant{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}
main div.buy div.buybox div.cant div.input{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 25%;
}
main div.buy div.buybox div.cant div.input input{
    width: 100%;
    border:1px solid lightgrey;
}
main div.buy div.buybox div.cant div.input form{
    width: 35%;
}
main div.buy div.buybox div.cant div.input button i{
    font-size: 14px;
}
main div.buy div.buybox div.cant div.input button{
    border: none;
    padding: 5px 7px 5px 7px;
}
main div.buybttn div.buybttnBox{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
main div.buybttn div.buybttnBox button.Cart{
    width: 45%;
    font-size: 11px;
    padding: 10px 6px 10px 6px;
    background-color: var(--color2);
    border: none;
    color: white;
}
main div.buybttn div.buybttnBox button.buyNow{  
    width: 45%;
    font-size: 11px;
    padding: 10px 6px 10px 6px;
    background-color: var(--color2);
    border: none;
    color: white;
}

















