body{
    width:100%;
    background-color:var(--lightgrey);
}

main {
    width:100%;
    max-width: 1280px;
    background-color: white;
}

div.slide-container {
    position: relative;
    margin-bottom: 80px;
}

div.slide.desktop {
    display: flex;
    width:100%;
    max-width:1280px;
    margin-bottom: 8px;
}

div.slide.mobile{
    display:none;
}

.slide img{
    width:100%;
}

div.slide-container a.prev{
    cursor:pointer;
    position:absolute;
    top: 40%;
    left:16px;
    font-size: 32px;
    color: white;
}

div.slide-container a.next{
    cursor:pointer;
    position:absolute;
    top: 40%;
    right:16px;
    font-size: 32px;
    color: white;
}

.dot-container{
    position: absolute;
    left:45%;    
    bottom: 16px;
    
    display: flex;
    justify-content: center;
}

.dot {
    position:relative;    
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

section{
    width:100%;
    max-width: 1280px;
    padding: 16px;
}
div.title-all{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 16px;
}
section h2{
    color:var(--darkgrey);
    font-size: clamp(18px, 1rem, 28px);
}
div.title-all a{
    text-decoration: none;
    font-weight: 700;
    color:var(--color2);
}
div.window-container{
    display: flex;
    align-content: center;
    
}


.window{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding:16px;
    /* width:100%; */
    /* max-height: 500px; */
    overflow-x: hidden;
    /* margin-bottom: 80px; */
    position:relative;
}

div.window-container .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32px;
}

a.next-card, a.prev-card{
    cursor:pointer;
    position:relative;    
    margin: 24px;
    font-size: 24px;
    color: var(--color2);
    z-index: 100;
}

div.window .list.card{
   flex: 1 0 240px; 
   
   background: white;
   border-radius: 8px;
   box-shadow: 4px 4px 16px var(--lightgrey);
   display: flex;
   flex-direction: column;
   visibility: visible;
   /* margin-bottom: 40px; */
   /* margin-right: 16px; */
   }
   a.prodTitle{
    color: var(--color2);
}   
div.window .list.card.out{
    display: none;
}

/* COMBOS ESCONDIDOS POR EL MOMENTO */
/* section.combos{
    height:400px;
    display: flex;
} */
div.combo-container{
    width:100%;
    /* padding: 16px; */
}
div.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.title a{
    text-decoration: none;
    font-weight: 700;
    color:var(--color2);
}

    

    img.banner{
        display: none;
    }
    img.show{
        display: block;
    }
    section.combos{
        margin-bottom: 48px;
    }
    

    div.combo.window{
        display: flex;
        flex: 0 0 240px; 
        flex-wrap: nowrap;
        justify-content: space-between;
        
        overflow: hidden;
        
    }
    div.card.combo{
        /* width:30%; */
        margin:16px;
        font-size: 18px;
        font-weight: 400;
        color: var(--darkgrey);
        padding: 0px;
        border-radius: 8px;
        box-shadow: 4px 4px 16px var(--lightgrey);
    }
    div.titlecombo{
        display: flex;
        justify-content: space-between;
    }
    div.card.combo p{
        margin-left:16px;
        margin-top: 8px;
        font-size: 14px;
    }
    div.card.combo h4{
        margin-left:16px;
        margin-top: 8px;
        font-size: 18px;
    }
    div.detail-link{
        margin-right:16px;
        margin-top: 8px;
    }
    div.detail-link a{
        text-decoration: none;
        color: var(--color2);
    }
    div.detail-link a:hover{
        color: var(--color1);
    }
    div.combo img{
        margin-top: 16px;
        border-radius: 0px 0px 8px 8px;

        width:100%;
    }

    @media only screen and (max-width: 768px){
        div.slide-container{
            margin-bottom:0px;
        }
        div.slide.desktop{
            display:none;
        }
        div.slide.mobile{
            display: flex;
            width:100%;
            max-width:1280px;
            margin-bottom: 0px;
        }
        div.combo.window{
            flex-direction: column;
            align-items: center;

        }
        div.card.combo{
            width:80%;
        }
    }