<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style-index.css">
</head>
<body>
    <header>
        <div class="header">
            <i class="fas fa-bars"></i>
            <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo elio pez"></a>
            <div class="carrito">
                <i class="fas fa-search"></i>
               <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </header>
    <main>
        <div class="principal">
            <div class="foto-prpal">
                <a href="/product"><img src="/img/latas_capitan.jpg" alt="Imagen principal" width="100%"></a>
            </div>
            <div class="txt-prpal">               
                <h3>Envíos a todo el país</h3>
                <h3>Pagá en cuotas</h3>    
            </div>    
        </div>


        <div class="combos">
            <div class="titulo-combos">
                <div class="combo-item-titulo">
                    <h2>COMBOS Y PROMOS</h2>
                </div>
                <div class="combo-item-vermas">
                    <p>ver todos</p>
                </div>
            </div>
            <div class="content-combos">
                <div class="combo-item-name">
                    <h3>COMBO 2</h3>
                </div>
                <div>
                    <a href="/product"><img src="/img/latas_strange.jpg" alt="pack Strange Breweing" width="100%"></a>
                </div>
                <div class=combo-item-precio>
                    <h2>$1.500</h2>
                </div>
            </div>
        </div>
            

        <div class="destacadas"></div>
        <div class="titulo-destacados">
            <div class="destacados-item-titulo">
                <h2>DESTACADOS</h2>
            </div>
            <div class="destacados-item-vermas">
                <p>ver todos</p>
            </div>
        </div>
        <div class="content-destacados">
            <div>
                <a href="/product"><img src="/img/latas_capitan.jpg" alt="Imagen principal" width="100%"></a>
            </div>
            <div class="destacados-txt">    
                    <div class="destacados-item-name">
                        <h3>TIPO DE CERVEZA</h3>
                    <div class="destacados-prop">
                        <p>ABV: 00 - </p>

                        <p> - IBU: 00</p>
                    </div>
                    </div>
                    <div class=destacados-item-precio>
                        <h2>$1.500</h2>
                </div>
            </div>
        </div>

        <div class="newsletter">
            <div class="newsletter-txt">   
                <h4>RECIBÍ TODAS NUESTRAS MEJORES OFERTAS Y NOVEDADES EN TU MAIL</h4>
            </div>
            <div class="newsletter-form">
                <div class="newsletter-input">    
                    <p><input type="email" id="email" name="email" placeholder="Mail"></p>
                </div>
                <div class="newsletter-button">
                    <button>ENVIAR</button>
                </div>
                <br>
            </div>
        </div>
    </main>
    <footer>   
        <div class="sesion">
            <a href="/login"><i class="far fa-user"></i>Iniciá Sesión</a>
        </div>
        <div class="seguinosredes">
            <p>¡Seguinos!</p>
            <div class="redes">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
        <hr>
        <div class="enlaces">
        <nav>
            <a href="#" class="nav-enlace">Productos</a>
            <a href="#" class="nav-enlace">Promociones</a>
            <a href="/register" class="nav-enlace">Registro</a>
            <a href="#" class="nav-enlace">Contactos</a> 
        </nav>
        </div>
    </footer>
</body>
</html>