<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    <main>
        <div class="principal">
            <div class="foto-prpal">
                <a href="/products"><img src="/img/latas_capitan.jpg" alt="Imagen principal" width="100%"></a>
            </div>
            <div class="txt-prpal">               
                <h3>Envíos a todo el país</h3>
                <h3>Pagá en cuotas</h3>    
            </div>    
        </div>


        <div class="combos">
            <div class="titulo-combos">
                <div class="combo-item-titulo">
                    <h2>COMBOS Y PROMOS</h2>
                </div>
                <div class="combo-item-vermas">
                    <p>ver todos</p>
                </div>
            </div>
            <div class="content-combos">
                <div class="combo-item-name">
                    <h3>COMBO 2</h3>
                </div>
                <div>
                    <a href="/products"><img src="/img/latas_strange.jpg" alt="pack Strange Breweing" width="100%"></a>
                </div>
                <div class=combo-item-precio>
                    <h2>$1.500</h2>
                </div>
            </div>
        </div>
            

        <div class="destacadas"></div>
        <div class="titulo-destacados">
            <div class="destacados-item-titulo">
                <h2>DESTACADOS</h2>
            </div>
            <div class="destacados-item-vermas">
                <p>ver todos</p>
            </div>
        </div>
        <div class="content-destacados">
            <div>
                <a href="/products"><img src="/img/latas_capitan.jpg" alt="Imagen principal" width="100%"></a>
            </div>
            <div class="destacados-txt">    
                    <div class="destacados-item-name">
                        <h3>TIPO DE CERVEZA</h3>
                    <div class="destacados-prop">
                        <p>ABV: 00 - </p>

                        <p> - IBU: 00</p>
                    </div>
                    </div>
                    <div class=destacados-item-precio>
                        <h2>$1.500</h2>
                </div>
            </div>
        </div>

        <div class="newsletter">
            <div class="newsletter-txt">   
                <h4>RECIBÍ TODAS NUESTRAS MEJORES OFERTAS Y NOVEDADES EN TU MAIL</h4>
            </div>
            <div class="newsletter-form">
                <div class="newsletter-input">    
                    <p><input type="email" id="email" name="email" placeholder="Mail"></p>
                </div>
                <div class="newsletter-button">
                    <button>ENVIAR</button>
                </div>
                <br>
            </div>
        </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>