<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylelogin.css">
</head>
<body>
    <header>
        <div class="header">
            <i class="fas fa-bars"></i>
            <img class="logo" src="/img/logo.svg" alt="Logo elio pez">
            <div class="carrito">
                <i class="fas fa-search"></i>
               <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="registrate">
            <button><i class="fab fa-facebook-f"></i>Ingresá Con Facebook</button>
            <button><i class="fab fa-google"></i> Ingresá Con Google</button>
        </div>
        <hr>
        <div class="separador">
            <h4>O Iniciá con tu Mail y Contraseña</h4>
        </div>
        <div class="completar">

            <p><input type="email" id="email" name="email" placeholder="Mail"></p>
    
    
            <p><input type="password" id="password" name="password" placeholder="Contraseña"></p>
            <p><a href="#" class="olvidaste">¿Olvidaste tu contraseña?</a></p>
            <button>INGRESAR</button>
        </div>
        

    </main>
</body>
</html>