<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style-product.css">
</head>
<body>
    <header>
        <div class="header">
            <i class="fas fa-bars"></i>
            <img class="logo" src="/img/logo.svg" alt="Logo elio pez">
            <div class="carrito">
                <i class="fas fa-search"></i>
               <i class="fas fa-shopping-cart"></i>
            </div>
        </div>  
    </header>
    <main>
        <div class="imgProduct">
            <img class="productImg" src="/img/BeataAmberLager1.jpg" alt="cerveza">
        </div>
        <div class="productInfo">
            <div class="infobox">
                <h2 class="beerName">NOMBRE DE LA CERVEZA</h2>
                <div class="price-stars">
                    <h3>300$</h3>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                    <h4>(0)</h4>
                </div>
                <div class="separador"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas quidem, dolor voluptatem id porro dolorum dignissimos obcaecati cum dicta? Ab sequi fugiat nemo, quod et facere dolore minus dicta!</p>
                <h3 class="info">ABV: 00</h3>
                <h3 class="info">IBU: 00</h3>
            </div>
        </div>
        <div class="buy">
            <div class="buybox">
                <div class="cant">
                    <button>
                        <i class="fas fa-minus"></i>
                    </button>
                    <form>
                        <input type="number">
                    </form>
                    <button>
                     <i class="fas fa-plus"></i>
                    </button>
                </div>
            <div class="buybttn">
            </div>
            </div>
        </div>
    </main>
</body>
</html>