<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style-product.css">
</head>
<body>
    <!----------------------------------- HEADER ------------------------------->
    <header>
        <div class="header">
            <i class="fas fa-bars"></i>
            <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo elio pez"></a>
            <div class="carrito">
                <i class="fas fa-search"></i>
               <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </header>
    <!-------------------------------------------------------------------------->
    <!----------------------------- IMAGEN E INFORMACIÓN ----------------------->
    <main>
        <div class="imgProduct">
            <img class="productImg" src="/img/BeataAmberLager1.jpg" alt="cerveza">
        </div>
        <div class="productInfo">
            <div class="infobox">
                <h2 class="beerName">NOMBRE DE LA CERVEZA</h2>
                <div class="price-stars">
                    <h3>300$</h3>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                    <h4>(0)</h4>
                </div>
                <div class="separador"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas quidem, dolor voluptatem id porro dolorum dignissimos obcaecati cum dicta? Ab sequi fugiat nemo, quod et facere dolore minus dicta!</p>
                <h3 class="info">ABV: 00</h3>
                <h3 class="info">IBU: 00</h3>
            </div>
        </div>
    <!-------------------------------------------------------------------------->
    <!----------------------------- COMPRA DEL PRODUCTO ------------------------>
        <div class="buy">
            <div class="buybox">
                <div class="cant">
                    <h3>Cantidad</h3>
                    <div class="input">
                        <button class="menos">
                            <i class="fas fa-minus"></i>
                        </button>
                        <form>
                            <input type="number">
                        </form>
                        <button class="mas">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            <div class="buybttn">
                <div class="buybttnBox">
                    <button class="Cart">
                        <h3>AGREGAR AL CARRITO</h3>
                    </button>
                    <button class="buyNow">
                        <h3>COMPRAR AHORA</h3>
                    </button>
                </div>
            </div>
            </div>
        </div>
    </main>
    <!-------------------------------------------------------------------------->
    <!---------------------------------- FOOTER -------------------------------->
    <footer>   
        <div class="sesion">
            <a href="/login"><i class="far fa-user"></i>Iniciá Sesión</a>
        </div>
        <div class="seguinosredes">
            <p>¡Seguinos!</p>
            <div class="redes">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
        <hr>
        <div class="enlaces">
        <nav>
            <a href="#" class="nav-enlace">Productos</a>
            <a href="#" class="nav-enlace">Promociones</a>
            <a href="/register" class="nav-enlace">Registro</a>
            <a href="#" class="nav-enlace">Contactos</a> 
        </nav>
        </div>
    </footer>
    <!-------------------------------------------------------------------------->
</body>
</html>