<footer>   
    <div class="sesion">
        <% if(typeof usuarioLogueado != 'undefined') {%> 
        <div class="email-avatar">
        <p class="bienvenida">Bienvenido <%= usuarioLogueado.email %> </p>
        <img id="avatar-profile" src="/uploads/avatars/<%=usuarioLogueado.avatar%>" alt="avatar usuario">
        <a href="/users/logout">Cerrar Sesión</a>
        </div>
        <% } else { %> 
        <a href="/users/login"><i class="far fa-user"></i>Iniciá Sesión</a>
        <% } %> 
    </div>
    <div class="seguinosredes">
        <p>¡Seguinos!</p>
        <div class="redes">
        <a href="https://twitter.com/ez_elio"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/elio_pez_cervezartesanal/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/ELIO-PEZ-Cerveza-Artesanal-106408841188028"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    <hr>
    <div class="enlaces">
    <nav>
        <a href="/products" class="nav-enlace">Productos</a>
        <a href="/combos" class="nav-enlace">Combos</a>
        <a href="/users/register" class="nav-enlace">Registro</a>
        <a href="/contact" class="nav-enlace">Contacto</a> 
    </nav>
    </div>
</footer>