<footer>   
    <div class="sesion">
        <% if(typeof usuarioLoggeado != 'undefined') {%> 
        <p class="bienvenida">Bienvenido <%= usuarioLoggeado.email %> </p>
        <% } else { %> 
        <a href="/users/login"><i class="far fa-user"></i>Iniciá Sesión</a>
        <% } %> 
    </div>
    <div class="seguinosredes">
        <p>¡Seguinos!</p>
        <div class="redes">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    <hr>
    <div class="enlaces">
    <nav>
        <a href="#" class="nav-enlace">Productos</a>
        <a href="#" class="nav-enlace">Promociones</a>
        <a href="/users/register" class="nav-enlace">Registro</a>
        <a href="#" class="nav-enlace">Contactos</a> 
    </nav>
    </div>
</footer>