<header>
    <div class="header">
        <i class="fas fa-bars"></i>
        <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo elio pez"></a>
        <div class="carrito">
            <i class="fas fa-search"></i>
           <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</header>
