<header>
        <div class="header">
            <div class="top">
                <div class="container">
                    <div class="barras">
                        <i class="fas fa-bars"></i>
                     </div>
                    <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo Elio Pez"></a>
            
                    <div class="carrito">
                        <i class="fas fa-search"></i>
                        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                        <% if(typeof usuarioLogueado != 'undefined') {%> 
                            <div class="email-avatar">
                                <a href="/admin" style="display: block;">
                                    <img id="avatar-profile-header" src="/uploads/avatars/<%=usuarioLogueado.avatar%>" alt="avatar usuario">
                                </a>
                            </div>
                            <% } else { %> 
                                <a href="/users/login"><i class="fas fa-user-circle"></i></a>
                            <% } %>
                    </div>
                </div>
            </div>
        
            <div class="bottom">
                <div class="container">
                    <div class="header-nav">
                        <nav>
                        <a href="/products" class="nav-enlace">Cervezas</a>
                        <a href="/combos" class="nav-enlace">Combos</a>
                        <a href="/contact" class="nav-enlace">Contacto</a>
                        <% if(typeof usuarioLogueado != 'undefined') {%> 
                            <% if(usuarioLogueado.id_user_type == 2) {%> 
                            
                                <a href="http://localhost:3000" class="nav-enlace">Dashboard</a>

                            <% }} %>
                        </nav>
                    </div>
                    <% if(typeof usuarioLogueado != 'undefined') {%> 
                        <div class="register-login">
                        <p class="bienvenida">Bienvenido <%= usuarioLogueado.email %> </p>
                        <% } else { %> 
                            <div class="register-login">
                                <a href="/users/register" class="nav-enlace">Registrarse</a>
                                <a href="/users/login" class="nav-enlace">Iniciar Sesión</a>
                            </div>
                        <% } %> 

                </div>
            </div>
        </div>
    
</header>
