<header>
    <div class="all">
        <div class="header">
            <div class="barras">
                <i class="fas fa-bars"></i>
            </div>
            <a href="/"><img class="logo" src="/img/logo.svg" alt="Logo elio pez"></a>
            <div class="carrito">
                <i class="fas fa-search"></i>
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        <div class="nav">
            <nav>
                <a href="#" class="nav-enlace">Cervezas</a>
                <a href="#" class="nav-enlace">Combos</a>
                <a href="#" class="nav-enlace">Ofertas</a>
                <a href="#" class="nav-enlace">Contacto</a>
            </nav>
        </div>
    </div>
</header>
