<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main>
        <div class="principal">
            <div class="foto-prpal-desktop">
                <a href="/products"><img class="principal" src="/img/img_main_desktop.png" alt="Imagen principal" width="100%"></a>
            </div>
            <div class="foto-prpal-mobile">
                <a href="/products"><img class="principal" src="/img/img_main_mobile.png" alt="Imagen principal" width="100%"></a>
            </div>
            <div class="txt-prpal">               
                <h4>Envíos a todo el país</h4>
                <h4>Pagá en cuotas</h4>    
            </div>    
        </div>

        <div class="seccion-combos">    

            <div class="combos">
            <div class="titulo-combos">
                <div class="combo-item-titulo">
                    <h3>PROMOS</h3>
                </div>
                <div class="combo-item-vermas">
                    <p>ver todos</p>
                </div>
            </div>
            <div class="content-combos">
                <div class="combo-item-name">
                    <h4>PROMO 3</h4>
                </div>
                <div>
                    <a href="/products"><img src="/img/latas_capitan.jpg" alt="pack Strange Breweing" width="100%"></a>
                </div>
                <div class=combo-item-precio>
                    <h3>$1.500</h3>
                </div>
            </div>
            </div>
            <div class="combos">
                <div class="titulo-combos">
                    <div class="combo-item-titulo">
                        <h3>COMBOS</h3>
                    </div>
                    <div class="combo-item-vermas">
                        <p>ver todos</p>
                    </div>
                </div>
                <div class="content-combos">
                    <div class="combo-item-name">
                        <h4>COMBO 2</h4>
                    </div>
                    <div>
                        <a href="/products"><img src="/img/latas_capitan.jpg" alt="pack Strange Breweing" width="100%"></a>
                    </div>
                    <div class=combo-item-precio>
                        <h3>$1.500</h3>
                    </div>
                </div>
            </div>
        </div> 
            
        <div class="seccion-destacados">
            <div class="destacados">
            <div class="titulo-destacados">
                <div class="destacados-item-name">
                    <h3>RECOMENDADO</h3>
                </div>
                <div class="destacados-item-vermas">
                    <p>ver todos</p>
                </div>
            </div>
            <div class="content-destacados">
                <div class="destacados-img">
                    <a href="/products"><img src="/img/latas_strange.jpg" alt="Imagen principal" width="100%"></a>
                </div>
                <div class="destacados-txt">    
                        <div class="destacados-item-name">
                            <h5>TIPO DE CERVEZA</h5>
                        <div class="destacados-prop">
                            <p>ABV: 00 - </p>

                            <p> - IBU: 00</p>
                        </div>
                    </div>
                    <div class=destacados-item-precio>
                        <h3>$1.500</h3>
                    </div>
                </div>
            </div>
            </div>
            <div class="destacados">
                <div class="titulo-destacados">
                    <div class="destacados-item-name">
                        <h3>DESTACADOS</h3>
                    </div>
                    <div class="destacados-item-vermas">
                        <p>ver todos</p>
                    </div>
                </div>
                <div class="content-destacados">
                    <div class="destacados-img">
                        <a href="/products"><img src="/img/latas_strange.jpg" alt="Imagen principal" width="100%"></a>
                    </div>
                    <div class="destacados-txt">    
                            <div class="destacados-item-name">
                                <h5>TIPO DE CERVEZA</h5>
                            <div class="destacados-prop">
                                <p>ABV: 00 - </p>
    
                                <p> - IBU: 00</p>
                            </div>
                        </div>
                        <div class=destacados-item-precio>
                            <h3>$1.500</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="newsletter">
            <div class="newsletter-txt">   
                <h5>RECIBÍ TODAS NUESTRAS OFERTAS Y NOVEDADES EN TU MAIL</h5>
            </div>
            <div class="newsletter-form">
                <div class="newsletter-input">    
                    <p><input type="email" id="email" name="email" placeholder="Mail"></p>
                </div>
                <div class="newsletter-button">
                    <button>ENVIAR</button>
                </div>
                <br>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>