<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main>
<hr>
    <h1>¡Su mensaje ha sido enviado con éxito!</h1>        
<hr>
    </main>


    <%- include('../partials/footer'); %>
    <script src="/scripts/loginFront.js"></script>
</body>
</html>