<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main>
        <!-- <div class="registrate">
            <button class="button"><i class="fab fa-facebook-f"></i>Ingresá Con Facebook</button>
            <button class="button"><i class="fab fa-google"></i> Ingresá Con Google</button>
        </div> -->
        <% if (typeof errors != 'undefined'){ %> 
            <ul>
                <% for (let i = 0 ; i < errors.length ; i++){ %> 
                    <li>
                        <%= errors[i].msg  %> 
                    </li>
                <% } %> 
            </ul>
            <% } %> 
        <hr>
        <div class="separador">
            <h2>Iniciá sesión con tu Mail y Contraseña</h2>
        </div>
        <div class="completar">
            <form action="" method="post">
            
            <p><input class="input" type="email" id="email" name="email" placeholder="Mail"></p>
    
    
            <p><input class="input" type="password" id="password" name="password" placeholder="Contraseña"></p>
            <p class="check"><input type="checkbox" id="recordar">Recordar usuario y contraseña</p>
            <p><a href="#" class="olvidaste">¿Olvidaste tu contraseña?</a></p>
            <button class="button">INGRESAR</button>
            <p><a href="/users/register">¿No tienes cuenta? Regístrate acá</a></p>
            </form>
        </div>
        

    </main>


    <%- include('../partials/footer'); %>
    <script src="/js/registerFront.js"></script>
</body>
</html>