<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main>
        <!-- <div class="registrate">
            <button class="button"><i class="fab fa-facebook-f"></i>Registrate Con Facebook</button>
            <button class="button"><i class="fab fa-google"></i> Registrate Con Google</button>
        </div> -->
        <% if (typeof errors != 'undefined'){ %> 
        <ul>
            <% for (let i = 0 ; i < errors.length ; i++){ %> 
                <li>
                    <%= errors[i].msg  %> 
                </li>
            <% } %> 
        </ul>
        <% } %> 
        <hr>
        <div class="separador">
            <h2>Registrate Con tu Mail</h2>
        </div>
        <div class="completar">
            <form id="registerForm" action="" method="post" enctype="multipart/form-data">
            <p><input class="input" type="email" id="email" name="email" placeholder="Mail"></p>
            <small id="errorEmail"></small>
    
    
            <p><input class="input" type="password" id="password" name="password" placeholder="Contraseña"></p>
            <small id="errorPassword"></small>

            <p><label for="">Imagen de perfil</label><input id="avatar" type="file" name="avatar"></p>
            <small id="errorAvatar"></small>

            <p> <label for="fecha">Fecha de Nacimiento</label>
                <input class="input" type="date" id="fecha" name="fecha" placeholder="Fecha de nacimiento">
            </p>
            <small id="errorDate"></small>
            <p class="check"><input type="checkbox" id="terminos">Acepto los términos y condiciones</p>
            <small id="errorTerms"></small>
            <button type="submit" class="button">Registrarme</button>
            <p><a href="/users/login">¿Ya estás registrado? Iniciá sesión</a></p>
            </form>
        </div>
    </main>
    <%- include('../partials/footer'); %>
    <script src="/scripts/registerFront.js"></script>
</body>
</html>