<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main>
        <div class="registrate">
            <button class="button"><i class="fab fa-facebook-f"></i>Registrate Con Facebook</button>
            <button class="button"><i class="fab fa-google"></i> Registrate Con Google</button>
        </div>
        <hr>
        <div class="separador">
            <h4>O Registrate Con tu Mail</h4>
        </div>
        <div class="completar">

            <p><input class="input" type="email" id="email" name="email" placeholder="Mail"></p>
    
    
            <p><input class="input" type="password" id="password" name="password" placeholder="Contraseña"></p>

            <p> <label for="fecha">Fecha de Nacimiento</label>
                <input class="input" type="date" id="fecha" name="fecha" placeholder="Fecha de nacimiento">
            </p>
            <p class="check"><input type="checkbox" id="terminos">Acepto los términos y condiciones</p>
            <button class="button">Registrarme</button>
            <p><a href="/login">¿Ya estás registrado? Iniciá sesión</a></p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>